<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>photo</h1>
    <p>这是新添加的应用photo</p>
  </body>
</html>
